<!DOCTYPE html>
<html>
<head>
	<title>Movie Recommendations</title>
	<style>
		body {
			background-color: #000000;
			background-image: url('https://www.gstatic.com/webp/gallery3/1.png');
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;
			font-family: Arial, sans-serif;
			color: #ffffff;
		}
		.container {
			width: 80%;
			margin: 0 auto;
			text-align: center;
		}
		h1 {
			font-size: 48px;
			margin-top: 50px;
			color : #ffff00
		}
		form {
			display: inline-block;
			text-align: left;
			margin-top: 10px;
		}
		label {
			display: block;
			margin-bottom: 10px;
			font-weight: bold;
			color: #ffffff;
		}
		input[type="text"] {
			padding: 10px;
			width: 100%;
			border: none;
			border-radius: 4px;
			box-sizing: border-box;
			margin-bottom: 20px;
		}
		input[type="submit"] {
			background-color: #4CAF50;
			color: white;
			padding: 12px 20px;
			border: none;
			border-radius: 4px;
			cursor: pointer;
			margin-bottom: 20px;
		}
		.results {
			margin-top: 20px;
		}
		.movie {
			background-color: #ffffff;
			border: 1px solid #ddd;
			padding: 20px;
			margin-bottom: 20px;
		}
		.movie h2 {
			margin-top: 0;
		}
		.movie p {
			margin-bottom: 5px;
		}
	</style>
</head>
	<body>
	<div class="container">
		<h1>Movie Recommendations</h1>
		<form method="POST" action="{{ url_for('recommend_movies') }}">
			<label for="movie">Enter a movie title:</label>
			<input type="text" id="movie" name="movie" list="movies">
			<datalist id="movies">
				{% for title in movie_titles %}
				<option value="{{ title }}">
				{% endfor %}
			</datalist>
			<input type="submit" value="Get Recommendations">
		</form>
		<div class="container">
			  <div class="row">
					 <div class="col-md-6">
						 <h2>Find movies by genre</h2>
						 <form action="/movies" method="POST">
						 <select name="genre" class="form-select" aria-label="Select genre">
							<option selected>Choose genre</option>
							 {% for genre in movie_genres %}
							<option value="{{ genre }}">{{ genre }}</option>
							 {% endfor %}
						 </select>
						 <button type="submit">Search</button>
						 </form>
							{% if movies %}
						 <h2>Movies for {{ selected_genre }} genre:</h2>
						 <ul>
							{% for movie in movies %}
								<li>{{ movie }}</li>
							{% endfor %}
						</ul>
							{% endif %}

					 </div>
			  </div>
		</div>
	</body>
</html>