<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Movie Recommendation Results</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #000000;
        background-image: url('https://c4.wallpaperflare.com/wallpaper/241/660/901/wolverine-sword-wallpaper-preview.jpg');
        margin: 0;
        padding: 0;
      }
      .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
      }
      h1 {
        color: #B22222;
        text-align: center;
        margin-top: 50px;
        text-shadow: 2px 2px #333333;
        font-size: 36px;
      }
      .movie {
        background-color: #333333;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        padding: 20px;
        margin: 10px 0;
        display: flex;
        align-items: center;
      }
      .movie-title {
      font-size: 28px;
      font-weight: bold;
      margin-bottom: 10px;
      color: #4CAF50; /* material design green */
      text-shadow: 2px 2px #1B5E20; /* dark green shadow */
    }



      .movie-genre {
        font-size: 18px;
        color: #ffffff;
        margin-bottom: 10px;
        text-shadow: 1px 1px #333333;
      }
      .movie-release-date {
        font-size: 20px;
        font-weight: bold;
        color: #ffcc00;
        margin-bottom: auto;
        text-shadow: 1px 1px #333333;
      }
      .imdb_url {
        font-size: 13px;
        font-weight: bold;
        color: #ffcc00;
        margin-bottom: 10px;
        text-shadow: 1px 1px #333333;
      }

     .movie-image {
        width: 100%;
        max-width: 300px;
        height: 300px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-top: 10px;
        object-fit: contain; /* or object-fit: cover; */
}
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Recommended Movies</h1>
      {% for movie in recommended_movies %}
      <div class="movie">
        <div>
          <div class="movie-title">{{ movie['title'] }}</div>
          <div class="movie-genre">Genres: {{ movie['genres'] }}</div>
          <div class="imdb_url">IMDB URL: {{movie['imdb_url']}}</div>
        </div>
        <div class="movie-release-date">Release Date : {{ movie['release_date'] }}</div>
        <img class="movie-image" src="{{ movie['image_url'] }}" alt="{{ movie['title'] }}" sizes="(max-width: 165px) 100vw, 165px">
      </div>
      {% endfor %}
    </div>

  </body>
</html>
